**/target/
!.mvn/wrapper/maven-wrapper.jar



### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr


# other
dev/mysql/data/*
dev/mysql/log/*
auth-service/src/main/resources/application-secret.yml
**/*.key
**/*.pub