eureka:
  client:
    service-url:
      defaultZone: http://localhost:8801/eureka/
    register-with-eureka: false
  server:
    enable-self-preservation: false
spring:
  application:
    name: eureka
server:
  port: 8801